<a href="https://colab.research.google.com/github/sandhiyasuriya/Task-4/blob/main/Task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assessment**

## I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [ ]:
from google.colab import files
files.upload()

In [ ]:
df1=pd.read_csv("/content/college_1.csv")
df2=pd.read_csv("/content/college_2.csv")

In [ ]:
df1

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0
...,...,...,...,...,...,...,...
79,KarthikeyanS,45.0,0.0,0,0,Electronics and Electrical Engineering,0
80,BARATH.P,29.0,0.0,0,0,Electronics and Electrical Engineering,0
81,N.Ajith kumar,82.0,0.0,0,0,Electronics and Electrical Engineering,0
82,mohamed nabi,0.0,0.0,0,0,Electronics and Electrical Engineering,0
83,yaser ahamed.A,0.0,27.0,0,0,Electronics and Electrical Engineering,0

In [ ]:
df2

,Name,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Department,Rising
0,ASHOK KUMAR K,100,0,31,9,19400,19400,Electronics and Electrical Engineering,0
1,Chandru,0,20,0,0,14150,14490,Computer Science and Engineering,340
2,Ganesh Ramkumar R,-1,55,24,6,8790,10790,Computer Science and Engineering,2000
3,Bodipudi Harini,-1,0,35,-1,10040,10040,Electronics and Communication Engineering,0
4,VIINU V P,-1,100,24,-1,9150,9150,Electronics and Electrical Engineering,0
5,Poojitha Y,0,78,35,0,7210,8970,Computer Science and Engineering,1760
6,Gowtham Chandrasekaran,-1,0,0,3,7250,8950,Computer Science and Engineering,1700
7,Gowtham R,-1,60,4,6,8650,8650,Electronics and Communication Engineering,0
8,shifak N,58,0,0,0,5180,8320,Electronics and Electrical Engineering,3140
9,Balaji,-1,100,20,0,6170,8160,Electronics and Electrical Engineering,1990
10,Rushitha,-1,15,62,9,7470,8090,Computer Science and Engineering,620
11,Balaraman Muthupandi,-1,9,0,0,7670,8050,Computer Science and Engineering,380
12,JPradhap,100,0,0,0,7340,8030,Electronics and Electrical Engineering,690
13,SRIRAMKUMAR B,-1,0,0,0,6400,7940,Computer Science and Engineering,1540
14,Praneetha,-1,23,100,-1,7170,7730,Electronics and Communication Engineering,560
15,Rahul Raj K,-1,0,0,0,6280,7640,Computer Science and Engineering,1360
16,Guhan S,-1,72,35,39,7310,7630,Electronics and Communication Engineering,320
17,Suryarajan S,-1,63,31,0,6710,7550,Computer Science and Engineering,840
18,Narasimhan Y L,-1,-1,0,0,4800,6800,Computer Science and Engineering,2000
19,Leelakrishna,-1,6,4,0,5300,6640,Computer Science and Engineering,1340
20,PremsagarReddy,-1,20,0,0,5290,6290,Computer Science and Engineering,1000
21,pradeeban,16,20,24,0,6060,6090,Computer Science and Engineering,30
22,santhoshini,-1,43,0,0,3910,5740,Computer Science and Engineering,1830
23,MUKESH S M,-1,46,0,0,5200,5200,Computer Science and Engineering,0
24,P.GOVARDHANAN,-1,40,0,-1,5050,5050,Electronics and Communication Engineering,0
25,SHAIK DANISH,-1,43,0,0,4050,4820,Computer Science and Engineering,770
26,sridhar.s,-1,52,0,0,3860,4440,Computer Science and Engineering,580
27,Vimalesh Fernando,-1,0,0,0,4170,4170,Computer Science and Engineering,0
28,M.Karthikeyan,-1,0,4,6,4020,4020,Computer Science and Engineering,0
29,Abishak s,-1,55,35,6,3220,3220,Electronics and Communication Engineering,0
30,praveen raj j,24,-1,0,0,2380,2380,Computer Science and Engineering,0
31,AMARNATH D,-1,52,12,-1,1890,1890,Electronics and Communication Engineering,0
32,bala,32,49,0,-1,1720,1720,Electronics and Communication Engineering,0
33,XY Z,-1,20,-1,-1,0,0,Computer Science and Engineering,0
34,Hariharan,-1,-1,-1,0,0,0,Computer Science and Engineering,0

In [ ]:
df=pd.concat([df1,df2],axis=0)
df

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
30,praveen raj j,24.0,0.0,2380,2380,Computer Science and Engineering,0,-1.0,0.0
31,AMARNATH D,-1.0,12.0,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
32,bala,32.0,0.0,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
33,XY Z,-1.0,-1.0,0,0,Computer Science and Engineering,0,20.0,-1.0
34,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 0 to 34
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    119 non-null    object
 1   python                  119 non-null    float64
 2   mysql                   119 non-null    float64
 3   Previous Geekions       119 non-null    int64
 4   CodeKata Score          119 non-null    int64
 5   Department              119 non-null    object
 6   Rising                  119 non-null    int64
 7   python_en               35 non-null     float64
 8   computational_thinking  35 non-null     float64
dtypes: float64(4), int64(3), object(2)
memory usage: 9.3+ KB

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

In [ ]:
Exceeded_expectations=df[df['CodeKata Score']>15000]
Exceeded_expectations.to_csv("Exceeded_expectations.csv")

###### if  10000<codekata score<15000   (Reached_expectations.csv)

In [ ]:
Reached_expectations=df[(df['CodeKata Score']<15000) &(df['CodeKata Score'] >10000 )]
Reached_expectations.to_csv("Reached_expectations.csv")

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

In [ ]:
Needs_Improvement=df[df['CodeKata Score']<10000]
Needs_Improvement.to_csv("Needs_Improvement.csv")

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [ ]:
Unsatisfactory=df[df['CodeKata Score']<7000]
Unsatisfactory.to_csv("Unsatisfactory.csv")

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [ ]:
Previous_Geekions=df['Previous Geekions'].mean()
Previous_Geekions

3842.3529411764707

In [ ]:
CodeKata_Score=df['CodeKata Score'].mean()
CodeKata_Score

4051.764705882353

###### No of students participated

In [ ]:
df['Name'].count()

119

###### #Average completion of python course or my_sql or python english or computational thinking

In [ ]:
df['python'].mean()

54.35294117647059

In [ ]:
df['mysql'].mean()

23.5

In [ ]:
df['python_en'].mean()

29.65714285714286

In [ ]:
df['computational_thinking'].mean()

2.2

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [ ]:
rising_star=df.sort_values(by='CodeKata Score',ascending=False).head(3)
rising_star

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [ ]:
rising_star.sort_values(by='Previous Geekions',ascending=False)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

###### Department wise codekata performence (pie chart)

In [ ]:
Department=df.groupby('Department')['CodeKata Score'].sum()
Department

Department
Computer Science and Engineering             320025
Electronics and Communication Engineering    108335
Electronics and Electrical Engineering        53800
Name: CodeKata Score, dtype: int64

In [ ]:
Department1=Department.to_frame()
Department1=Department1.reset_index()
Department1

                                  Department  CodeKata Score
0           Computer Science and Engineering          320025
1  Electronics and Communication Engineering          108335
2     Electronics and Electrical Engineering           53800

In [ ]:
import plotly.graph_objects as go
fig=go.Figure(data=[go.Pie(labels=Department1["Department"],values=Department1["CodeKata Score"],pull=[0.2,0.1,0])])
fig.update_layout(title_text="Department wise codekata performence ")
fig.show()

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [ ]:
df3=df.groupby(['Department'])
df4=df3.apply(lambda x:x.sort_values(by='CodeKata Score',ascending=False).head(3))
df4

                                                        Name  python  mysql  \
Department
Computer Science and Engineering          0        A.Dharani    82.0   20.0
                                          1      V.JEEVITHA     82.0   20.0
                                          2      HEMAVATHI.R   100.0  100.0
Electronics and Communication Engineering 3  Bodipudi Harini    -1.0   35.0
                                          7        Gowtham R    -1.0    4.0
                                          6    KALAIARASAN K    85.0   47.0
Electronics and Electrical Engineering    0    ASHOK KUMAR K   100.0   31.0
                                          4        VIINU V P    -1.0   24.0
                                          8         shifak N    58.0    0.0

                                             Previous Geekions  \
Department
Computer Science and Engineering          0              24500
                                          1              21740
                                          2              19680
Electronics and Communication Engineering 3              10040
                                          7               8650
                                          6               7750
Electronics and Electrical Engineering    0              19400
                                          4               9150
                                          8               5180

                                             CodeKata Score  \
Department
Computer Science and Engineering          0           24500
                                          1           21740
                                          2           19680
Electronics and Communication Engineering 3           10040
                                          7            8650
                                          6            7880
Electronics and Electrical Engineering    0           19400
                                          4            9150
                                          8            8320

                                                                            Department  \
Department
Computer Science and Engineering          0           Computer Science and Engineering
                                          1           Computer Science and Engineering
                                          2           Computer Science and Engineering
Electronics and Communication Engineering 3  Electronics and Communication Engineering
                                          7  Electronics and Communication Engineering
                                          6  Electronics and Communication Engineering
Electronics and Electrical Engineering    0     Electronics and Electrical Engineering
                                          4     Electronics and Electrical Engineering
                                          8     Electronics and Electrical Engineering

                                             Rising  python_en  \
Department
Computer Science and Engineering          0       0        NaN
                                          1       0        NaN
                                          2       0        NaN
Electronics and Communication Engineering 3       0        0.0
                                          7       0       60.0
                                          6     130        NaN
Electronics and Electrical Engineering    0       0        0.0
                                          4       0      100.0
                                          8    3140        0.0

                                             computational_thinking
Department
Computer Science and Engineering          0                     NaN
                                          1                     NaN
                                          2                     NaN
Electronics and Communication Engineering 3                    -1.0
                                          7                     6.0
                                          6                     NaN
Electronics and Electrical Engineering    0                     9.0
                                          4                    -1.0
                                          8                     0.0

In [ ]:
df5=df4[['Department','Name','CodeKata Score']]
df5

                                                                            Department  \
Department
Computer Science and Engineering          0           Computer Science and Engineering
                                          1           Computer Science and Engineering
                                          2           Computer Science and Engineering
Electronics and Communication Engineering 3  Electronics and Communication Engineering
                                          7  Electronics and Communication Engineering
                                          6  Electronics and Communication Engineering
Electronics and Electrical Engineering    0     Electronics and Electrical Engineering
                                          4     Electronics and Electrical Engineering
                                          8     Electronics and Electrical Engineering

                                                        Name  CodeKata Score
Department
Computer Science and Engineering          0        A.Dharani           24500
                                          1      V.JEEVITHA            21740
                                          2      HEMAVATHI.R           19680
Electronics and Communication Engineering 3  Bodipudi Harini           10040
                                          7        Gowtham R            8650
                                          6    KALAIARASAN K            7880
Electronics and Electrical Engineering    0    ASHOK KUMAR K           19400
                                          4        VIINU V P            9150
                                          8         shifak N            8320

In [ ]:
import plotly.express as px
fig = px.bar(df5,x="Department",y="CodeKata Score",color="Name",  title="Department wise toppers")
fig.show()